body {
  background-color: #00ffb39;
}
.logo {
  display: flex;
  background-color: #44ff0033;
}

.logo img {
  width:150px;
  margin: 10px 0 10px 0;
}

.header1 {
  display: flex;
  background-color:#44ff0033;
  margin-left: 10px;
  width: 1313px;
}
header ol  {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding:0;
  margin-left: 0;
   margin-right: 30px;

}
header ol li {
  list-style: none;
  margin : 0 10px 0 0;
  border:solid;
  border-radius: 5px;
  padding:10px;
  border-color: transparent;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 30px ;
}
.button input {

    border-radius: 9px;
    width: 30vw;
    height: 23px;

}

.button button {
margin: 0 0 0 10px;
border-radius: 7px;
}
header ol li:hover {
  border-color: white;

}
main {
  height: 657px;
  width: 1354px;
  background-color: #fdc7fab3;
  flex-direction: column;
  display: flex;
  margin: 0 10px;
  max-width: fit-content;
  overflow: scroll;
}
.container1 {
  display:flex;
  flex-direction: column;
}
.div1{
    display: flex;
    margin: 20px;
    height: 175px;
    width: 1280px;
    justify-content: space-between;
}
.img1 {
  display: flex;
    height: 169px;
    align-items: center;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.img1 p {
  color: purple;
  background-color: transparent;
  margin:0;
}

.img1 img {
  width: 245px;
  height: 160px;
}
.container1 {
  width:1313px;
  height: 287px;

}
.container2 {
  width:1313px;
  height: 287px;
}
.container3 {
  width:1313px;
  height: 287px;

}


footer{
  background-color: #682ee4b3;
  margin: 0 10px;
  width: 1354px;

}
footer p {
  display: flex;
  align-content: center;
  justify-content: center;

}
footer p::after{
  content: "::::FORGIVE FOR ANY MISTAKE I AM BEGNNIER ";
  color: pink;
}
